.container {
  interpolate-size: allow-keywords;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 7px;
  text-align: left;
  background-color: var(--color-tint);
  border-radius: 14px;
  border: none;
  cursor: pointer;
}

.mainInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 7px;
}

.mainInfoLeading {
  display: flex;
  width: 100%;
}

.subjectName {
  color: var(--color-text);
  font-weight: 600;
  line-height: 1.2;
}

.mainInfoTrailing {
  display: flex;
  font-weight: 500;
  flex-direction: row;
  align-items: center;
  gap: 8px;

  color: #ccc;
  mix-blend-mode: color-dodge;
}

.timeSlot {
  white-space: nowrap;
}

/* Details */

.details {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  border-radius: 9px;
  font-size: var(--text-size-small);
  background-color: #626262;
  mix-blend-mode: color-dodge;
  overflow: hidden;
  height: 0px;
  transform: scale(0.8);
  opacity: 0;
  transition: all 0.2s ease;
}

.detailsExpanded {
  transform: scale(1);
  opacity: 1;
  height: auto;
}

.detailsLeading {
  display: flex;
  justify-content: center;
  padding: 7px 10px;
  min-width: 65px;
  height: 100%;
  background-color: #999999;
}

.location {
  font-weight: 700;
  color: #4f4f4f;
  mix-blend-mode: plus-lighter;
}

.detailsTrailing {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2px;
  font-weight: 600;
  color: #7d7d7d;
  mix-blend-mode: plus-lighter;
}

.detailsSeparator {
  color: #404040;
}
