.container {
  display: flex;
  flex-direction: column;
  padding: 7px;
  text-align: left;
  background-color: var(--color-tint);
  border-radius: 14px;
  border: none;
  cursor: pointer;
}

.mainInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 14px;
  padding: 7px;
}

.mainInfoLeading {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.subjectName {
  color: var(--color-text);
  font-weight: 600;
  line-height: 1.25;
  text-wrap: balance;
}

.subgroupInfo {
  color: var(--color-text-muted);
  font-size: var(--text-size-small);
  font-weight: 600;
  overflow: hidden;
}

.mainInfoTrailing {
  display: flex;
  font-weight: 500;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  color: #ccc;
  mix-blend-mode: color-dodge;
}

.timeSlotContainer {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  will-change: height;
}

.timeSlot {
  white-space: nowrap;
  font-size: var(--text-size-small);
  text-align: right;
  line-height: 1.2;
  display: block;
  min-width: 7ch;
}

.enTimeSlot {
  font-variant-numeric: tabular-nums;
  font-feature-settings: 'tnum';
}

/* Details */

.details {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  border-radius: 9px;
  font-size: var(--text-size-small);
  background-color: #626262;
  mix-blend-mode: color-dodge;
  overflow: hidden;
  width: 100%;
}

.detailsLeading {
  display: flex;
  justify-content: center;
  padding: 7px 10px;
  min-width: 65px;
  height: 100%;
  background-color: #999999;
}

.location {
  font-weight: 700;
  color: #4f4f4f;
  mix-blend-mode: plus-lighter;
}

.detailsTrailing {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2px;
  font-weight: 600;
  color: #7d7d7d;
  mix-blend-mode: plus-lighter;
}

.detailsSeparator {
  color: #404040;
}
