.dateButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  justify-content: center;
  width: 100%;
  background: transparent;
  border: none;
  cursor: pointer;
}

.dayName {
  font-size: var(--text-size-tiny);
  color: var(--color-text-secondary);
}

.dayNumber {
  position: relative;
  width: 42px;
  height: 42px;
}

.dayNumber span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: 600;
  color: var(--color-text);
  mix-blend-mode: difference;
}

.dot {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: transparent;
  scale: 0;
  transition: all 0.2s ease;
}

.dateButton.selected .dot {
  scale: 1;
  background: var(--color-text);
}
.dateButton.noClasses .dayNumber span {
  color: var(--color-text-muted);
}

.dateButton.noClasses.selected .dayNumber span {
  color: var(--color-text);
}
