.container {
  display: flex;
  flex-direction: column;
  gap: 22px;
  max-width: 800px;
  margin: 0 auto;
  padding: 32px 22px;
  background-color: black;
  color: white;
}

.title {
  font-size: 2rem;
  font-weight: 600;
  color: white;
  margin: 24px 0 8px 16px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.date {
  font-size: var(--text-size-medium);
  font-weight: 600;
}

.weekInfo {
  font-size: var(--text-size-small);
  color: var(--color-text-muted);
  font-weight: 500;
}
